<div style="text-align: center;">
    <br>
    <h2>El estudiante no está en la base de datos</h2>
    <p>Registre al estudiante...</p>
    <hr>
</div>



<form [formGroup]="formGroup">
    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Tipo de documento</label>
                <input type="text" placeholder="Ingrese la identificación de estudiante..."
                    formControlName="tipoDeDocumento" class="form-control"
                    [ngClass]="{'is-invalid': control.tipoDeDocumento.errors}" [(ngModel)]="estudiante.tipoDeDocumento" />
                <div *ngIf="control.tipoDeDocumento.errors" class="invalid-feedback">
                    <div *ngIf="control.tipoDeDocumento.errors.required">Se requiere el tipo de documento del estudiante.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Identificación del estudiante</label>
                <input type="text" placeholder="Ingrese el tipo de documento del estudiante..."
                    formControlName="identificacion" class="form-control"
                    [ngClass]="{'is-invalid': control.identificacion.errors}" [(ngModel)]="estudiante.identificacion" />
                <div *ngIf="control.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="control.identificacion.errors.required">Se requiere identificación.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Nombre del del estudiante</label>
                <input type="text" placeholder="Ingrese el nombre de estudiante..."
                    formControlName="nombre" class="form-control"
                    [ngClass]="{'is-invalid': control.nombre.errors}" [(ngModel)]="estudiante.nombre" />
                <div *ngIf="control.nombre.errors" class="invalid-feedback">
                    <div *ngIf="control.nombre.errors.required">Se requiere el nombre del estudiante.</div>
                </div>
            </div>
        </div>
    </div>



    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Fecha de nacimiento del estudiante</label>
                <input type="date" placeholder="Ingrese fecha de nacimiento del estudiante..."
                    formControlName="fechaDeNacimiento" class="form-control"
                    [ngClass]="{'is-invalid': control.fechaDeNacimiento.errors}" [(ngModel)]="estudiante.fechaDeNacimiento" />
                <div *ngIf="control.fechaDeNacimiento.errors" class="invalid-feedback">
                    <div *ngIf="control.fechaDeNacimiento.errors.required">Se la fecha de nacimiento del estudiante.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Nombre del acudiente del estudiante</label>
                <input type="text" placeholder="Ingrese el nombre del acudiente del estudiante..."
                    formControlName="nombreDelAcudiente" class="form-control"
                    [ngClass]="{'is-invalid': control.nombreDelAcudiente.errors}" [(ngModel)]="estudiante.nombreDelAcudiente" />
                <div *ngIf="control.nombreDelAcudiente.errors" class="invalid-feedback">
                    <div *ngIf="control.nombreDelAcudiente.errors.required">Se requiere el nombre del acuediente del estudiante.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="abs-center">
        <div class="col-10">
            <div class="form-group">
                <label>Institucion educativa</label>
                <input type="text" placeholder="Ingrese la institucion educativa..."
                    formControlName="institucionEducativa" class="form-control"
                    [ngClass]="{ 'is-invalid': control.institucionEducativa.errors}"
                    [(ngModel)]="estudiante.institucionEducativa" />
                <div *ngIf="control.institucionEducativa.errors" class="invalid-feedback">
                    <div *ngIf="control.institucionEducativa.errors.required">Se reequiere la insitucion educativa.</div>
                </div>
            </div>
        </div>
    </div>

</form>

<div style="text-align: center;">
    <hr>
    <button type="button" class="btn btn-success" [disabled]="formGroup.invalid" 
        (click)="onSubmit()">
        Registrar estudiante
    </button>
    <br>
    <br>
</div>